/* You can add global styles to this file, and also import other style files */

$border: #dddddd;
$main_bg_color: #edeef0;
$bg_color_card: #ffffff;
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
