@import "../styles.scss";
@import "./components/card/card.component.scss";
.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $main_bg_color;
    align-items: center;
    justify-content: center;
}
